rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isSignedIn() {
      return request.auth != null;
    }

    function isTenantMember(tenantId) {
      return isSignedIn() && request.auth.token.tenantId == tenantId;
    }

    // Default deny for everything
    match /{allPaths=**} {
      allow read, write: if false;
    }

    // Tenant-scoped uploads and reads for private assets.
    match /tenants/{tenantId}/{allPaths=**} {
      // Unauth read only if object metadata isPublished is "true"
      allow read: if isTenantMember(tenantId) || resource.metadata.isPublished == "true";
      // Upload/Write only for Tenant-Member
      allow write: if isTenantMember(tenantId);
    }
  }
}
